.container{
display: flex;
justify-content: center;

}


.todo-title {
    color: #e7eff5; /* White text to contrast against the black background */
    font-weight: bold;
    font-size:2rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    margin-left: 12px;
  }
  
  .todo-title:hover {
    color: #5683af; /* Light grey text on hover */
    text-shadow: 2px 2px 4px rgba(243, 239, 239, 0.741); /* Subtle shadow for a professional look */
    cursor: pointer;
  }


  .container img {
    cursor: pointer;
    margin-right: 0;
    border: 4px solid rgb(176, 176, 176); /* You can specify the color or leave as is */
    border-radius: 50%; /* Makes the image circular */
    width: 55px; /* Adjust the size as needed */
    height: 55px; /* Same as width to ensure a perfect circle */
    object-fit: cover; /* Ensures the image scales nicely within the circle */
    transition: transform 0.3s ease; /* For a smoother transition when moved */
}

.container img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover for a better look */
    border-color: #5683af; /* Change border color on hover (optional) */
}

