<h2>List of Consultants</h2>

  <ul>
 
    <li *ngFor="let item of list; let i = index">
  
<div class="shadow p-2 bg-light">
      <table class="table  table-primary">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Candidate</th>
            <th scope="col">Client Name</th>
            <th scope="col">Rate Type</th>
            <th scope="col">Contractor End-Date</th>
            <th scope="col">Comments</th>
            <th scope="col">Payment From</th>
            <th scope="col">Payment Till Date</th>
            <th scope="col">Payment Status</th>
  <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.title}}</td>
            <td>{{ item.client}}</td>
            <td>{{ item.type}}</td>
            <td>{{ item.endDate | date }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.fromDate | date }}</td>
            <td>{{ item.tillDate | date }}</td>
            <td>{{ item.status }}</td>
            <td>   
            <button btn-primary class="complete-btn" (click)="deleteStudent(item)">Delete</button> </td>
          </tr>
        </tbody>
      </table>
    </div>
    </li>
  </ul>
