<h2>List of Consultants</h2>

<div class="table-container  row -12">
  <ul>
    <li *ngFor="let item of list; let i = index">
      <div class="shadow">
        <table class="table table-dark table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Candidate</th>
              <th scope="col">Client</th>
              <th scope="col">Rate Type</th>
              <th scope="col">End-Date</th>
              <th scope="col">Comments</th>
              <th scope="col">Holding From</th>
              <th scope="col">Holding Till</th>
              <th scope="col">Payment Status</th>
                <th>Edit this task</th>
                <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ i + 1 }}</th>

              <!-- Candidate -->
              <td *ngIf="editingIndex !== i; else editTitleTemplate">{{ item.title }}</td>
              <ng-template #editTitleTemplate>
                <td>
                  <input type="text" [(ngModel)]="tempItem.title" placeholder="Enter title" />
                </td>
              </ng-template>

              <!-- Client -->
              <td *ngIf="editingIndex !== i; else editClientTemplate">{{ item.client }}</td>
              <ng-template #editClientTemplate>
                <td>
                  <input type="text" [(ngModel)]="tempItem.client" placeholder="Enter client" />
                </td>
              </ng-template>

              <!-- Type -->
              <td *ngIf="editingIndex !== i; else editTypeTemplate">{{ item.type }}</td>
              <ng-template #editTypeTemplate>
                <td>
                  <input type="text" [(ngModel)]="tempItem.type" placeholder="Enter type" />
                </td>
              </ng-template>

              <!-- End Date -->
              <td *ngIf="editingIndex !== i; else editEndDateTemplate">{{ item.endDate | date }}</td>
              <ng-template #editEndDateTemplate>
                <td>
                  <input type="date" [(ngModel)]="tempItem.endDate" placeholder="Select end date" />
                </td>
              </ng-template>

              <!-- Comments -->
              <td *ngIf="editingIndex !== i; else editDescriptionTemplate">{{ item.description }}</td>
              <ng-template #editDescriptionTemplate>
                <td>
                  <input type="text" [(ngModel)]="tempItem.description" placeholder="Enter description" />
                </td>
              </ng-template>

              <!-- Holding From -->
              <td *ngIf="editingIndex !== i; else editFromDateTemplate">{{ item.fromDate | date }}</td>
              <ng-template #editFromDateTemplate>
                <td>
                  <input type="date" [(ngModel)]="tempItem.fromDate" placeholder="Select from date" />
                </td>
              </ng-template>

              <!-- Holding Till -->
              <td *ngIf="editingIndex !== i; else editTillDateTemplate">{{ item.tillDate | date }}</td>
              <ng-template #editTillDateTemplate>
                <td>
                  <input type="date" [(ngModel)]="tempItem.tillDate" placeholder="Select till date" />
                </td>
              </ng-template>

              <!-- Payment Status -->
              <td *ngIf="editingIndex !== i; else editStatusTemplate">{{ item.status }}</td>
              <ng-template #editStatusTemplate>
                <td>
                  <input type="text" [(ngModel)]="tempItem.status" placeholder="Enter status" />
                </td>
              </ng-template>

              <!-- Edit and Save Buttons -->
              <td>
                <button *ngIf="editingIndex !== i" type="button" class="btn btn-warning" (click)="editStudent(i, item)">Edit</button>
                <button *ngIf="editingIndex === i" type="button" class="btn btn-success" (click)="saveStudent(i, item)">Save</button>
              </td>

              <!-- Delete Button -->
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteStudent(item, i)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
