
ul{
  list-style: none;
}

h2{
  font-weight: bold;
    font-size:30px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-align: center;
      color: #e4e8eb; /* Light grey text on hover */
    text-shadow: 2px 1px 2px rgba(243, 239, 239, 0.741);
        margin-bottom: 15px;
}

h2:hover{
  color: #5683af; /* Light grey text on hover */
    text-shadow: 2px 2px 4px rgba(243, 239, 239, 0.741); /* Subtle shadow for a professional look */
    cursor: pointer;
}


.table-container {
  width: 100%; /* Adjust width as needed */
  position: relative;
  right: 1%;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Set a max height for the scrolling area */
  /* Adjust the max-height to fit your layout */
}

.table {
  width: 100%; /* Ensure the table takes full width */
  border-collapse: collapse; /* Optional: improves table appearance */
}

.table th, .table td {
  white-space: nowrap; /* Prevent cell content from wrapping */
  text-align: left; /* Align text to the left */
}

/* Optional: Additional styling for better visual appearance */
.shadow {
  margin: 0; /* Remove margin for better alignment */
}


/* Complete button container styling */
/* .button-container {
  margin: 10px;
  margin-left: 35rem;
  text-align: right; Align button to the right */


/* Complete button styling */
.complete-btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #636b65;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.complete-btn:hover {
  background-color: #ff0606;
}

.btn-group{
  position: relative;
  left: 85%;
  top:4rem;
}