body{
    background-color: #333741;
    font-size: 14px; /* Use rem units to scale relative to root element */
/* Adjust this value to make the text smaller */
  font-weight: normal; /* Change to 'normal' if you want to reduce boldness */
}
