
/* Container styling */

.task-create-container {
  background-color: #0c0c0c21; /* Light gray background */
  padding: 5px;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.945);
  position: relative;
  margin-left: 25px;
  width: 58%; /* Full width within its parent container */

}

/* Heading style */
.task-create-container h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 750;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
  color: #d2deea;; /* Dark gray */
}

.task-create-container h3:hover {
  transform: scale(1.1); /* Slightly enlarge on hover for a better look */
  transition: transform 0.5s ease; /* For a smoother transition when moved */
  color: #5683af; /* Light grey text on hover */
  text-shadow: 1px 1px 2px rgba(243, 239, 239, 0.741); /* Subtle shadow for a professional look */
}


/* Form group styling */
.form-group {
   margin-left: 35px;
   margin-bottom: 20px;
}
.form-group label {
  display:flex;
  font-weight: 750;
  color: #9fb1c4; /* Darker gray for text */
}
/* Input and textarea styling */
.form-control {
  width: 40%;
  padding: 10px;
  border: 2px solid #ced4da; /* Light border */
  border-radius: 4px;
  background-color: #fff;
  font-size: 1rem;
  color: #485a6b;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
/* Input focus effect */
.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}
/* Button styling */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 17px;
  margin-top: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.btn-primary:hover {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.comments{
  width: 102%;
  position: absolute;
  left: 50.5%;
  top: 13%;
}

.last-end {
  width: 98%;
  position: absolute;
  left:55%;
  top: 53%;
  
}
/* .start-check{
  width: 50%;
  position: absolute;
  left:75%;
  top: 75%;
}  */

.btn-primary{
  position: absolute;
  left:80%;
  top:75%;
}
.btn-primary:disabled {
  background-color: #93b7e5;
  border-color: #cfd2d6;
  cursor: not-allowed;
}

.type{
  margin-left:15px;
}
.client{
  margin-left:35px;
}

